@media screen and (max-width: 1080px) {
    #map_canvas {
        height: 400px;
    }
}

@media screen and (max-width: 640px) {
    #map_canvas {
        height: 200px;
    }
}




#login {
    width: 90%
}